
.form__components-error-message{
    color: rgb(221, 88, 88);
    font-size: medium;
    padding: 5px;
}

.form__components-textField{
    width: 100%;
    margin-bottom: 5px;   
    & input:valid + fieldset{
        border-color: green;
        border-width: 2px;
    }

    & input:valid:focus + fieldset{
        border-left-width: 6px;
        padding: 4px;
    }
}

.form__components-container-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.form__components-img-pokemon{
    max-height: 70px;
    max-width: 120px;
    margin: auto;
    padding: auto;
    display: block;
    margin-bottom: 5px;
}




