$primary: #216101;

.form__buttons-button{
    border: none ;
    color: white ;
    cursor: pointer ;
    width: 100% ;
    padding: 7px 10px 7px 10px ;

}

.form_buttons-primary{
    background-color: $primary;
    border-radius: 2px;

    &:disabled{
        background-color: lighten($color: $primary, $amount: 10);
    }

    &:hover{ 
        background-color: darken($color: $primary, $amount: 7);
    }
}

