.error-message {
    color: rgb(221, 88, 88);
    font-size: medium;
}

.columna {
    padding-bottom: 8px;
    padding-left: 10px;
}

.table{
    padding-top:15px;
}

.img-pokemon{
    max-height: 70px;
    max-width: 120px;
    margin: auto;
    padding: auto;
    display: block;
    margin-bottom: 5px;
}


