.error-message {
    color: rgb(221, 88, 88);
    font-size: medium;
}


.table{
    padding-top:15px;
}

.img-pokemon{
    max-height: 70px;
    max-width: 120px;
    margin: auto;
    padding: auto;
    display: block;
    margin-bottom: 5px;
}

.container-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

  
